extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Info';
    - page.description = 't3hmun\'s web-log information page.';
    - page.url = 'info.html';
block content
    section
        h1 Info
        p This is t3hmun's web-log.
        p.
            Welcome to my web-log.
            This site is a collection of things I am doing or learning and want to remember.
        p.
            This site is generated from Pug templates and Markdown files for the posts.
            I wrote #[a(href="https://github.com/t3hmun/t3hmun.github.io") the site generation scripts] in order to
            learn a bit of Javascript with Node.Js.

