extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Info';
    - page.description = 't3hmun\'s web-log information page.';
    - page.url = 'info.html';
block content
    section
        h1 Info
        p This is t3hmun's web-log.
        P I'll write more here eventually.
       
